{% verbatim %}
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Количество уровней</span>
						
							<v-field v-model="Levels" type="radio" name="lvls" id="num1" value="1" class="d-none cake__input"></v-field>
							<label for="num1" class="mx-2 px-3 py-1 cake_grey cake__label">1 уровень</label>
						
							<v-field v-model="Levels" type="radio" name="lvls" id="num2" value="2" class="d-none cake__input"></v-field>
							<label for="num2" class="mx-2 px-3 py-1 cake_grey cake__label">2 уровня</label>
						
							<v-field v-model="Levels" type="radio" name="lvls" id="num3" value="3" class="d-none cake__input"></v-field>
							<label for="num3" class="mx-2 px-3 py-1 cake_grey cake__label">3 уровня</label>
						
					</div>
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Форма</span>
						
							<v-field v-model="Form" type="radio" name="form" id="form1" value="1" class="d-none cake__input"></v-field>
							<label for="form1" class="mx-2 px-3 py-1 cake_grey cake__label">Квадрат</label>
						
							<v-field v-model="Form" type="radio" name="form" id="form2" value="2" class="d-none cake__input"></v-field>
							<label for="form2" class="mx-2 px-3 py-1 cake_grey cake__label">Круг</label>
						
							<v-field v-model="Form" type="radio" name="form" id="form3" value="3" class="d-none cake__input"></v-field>
							<label for="form3" class="mx-2 px-3 py-1 cake_grey cake__label">Прямоугольник</label>
						
					</div>
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Топпинг</span>
						
							<v-field v-model="Topping" type="radio" name="topping" id="topping1" value="1" class="d-none cake__input"></v-field>
							<label for="topping1" class="mx-2 px-3 py-1 cake_grey cake__label">Без топпинга</label>
						
							<v-field v-model="Topping" type="radio" name="topping" id="topping2" value="2" class="d-none cake__input"></v-field>
							<label for="topping2" class="mx-2 px-3 py-1 cake_grey cake__label">Белый соус</label>
						
							<v-field v-model="Topping" type="radio" name="topping" id="topping3" value="3" class="d-none cake__input"></v-field>
							<label for="topping3" class="mx-2 px-3 py-1 cake_grey cake__label">Карамельный сироп</label>
						
							<v-field v-model="Topping" type="radio" name="topping" id="topping4" value="4" class="d-none cake__input"></v-field>
							<label for="topping4" class="mx-2 px-3 py-1 cake_grey cake__label">Кленовый сироп</label>
						
							<v-field v-model="Topping" type="radio" name="topping" id="topping5" value="5" class="d-none cake__input"></v-field>
							<label for="topping5" class="mx-2 px-3 py-1 cake_grey cake__label">Клубничный сироп</label>
						
							<v-field v-model="Topping" type="radio" name="topping" id="topping6" value="6" class="d-none cake__input"></v-field>
							<label for="topping6" class="mx-2 px-3 py-1 cake_grey cake__label">Черничный сироп</label>
						
							<v-field v-model="Topping" type="radio" name="topping" id="topping7" value="7" class="d-none cake__input"></v-field>
							<label for="topping7" class="mx-2 px-3 py-1 cake_grey cake__label">Молочный шоколад</label>
						
					</div>
					<h1 class="me-3 fs_40 cake_pink mb-3 mt-5">Дополнительно</h1>
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Ягоды</span>
						
							<v-field v-model="Berries" type="radio" name="berries" id="berries1" value="1" class="d-none cake__input"></v-field>
							<label for="berries1" class="mx-2 px-3 py-1 cake_grey cake__label">Без ягод</label>
						
							<v-field v-model="Berries" type="radio" name="berries" id="berries2" value="2" class="d-none cake__input"></v-field>
							<label for="berries2" class="mx-2 px-3 py-1 cake_grey cake__label">Ежевика</label>
						
							<v-field v-model="Berries" type="radio" name="berries" id="berries3" value="3" class="d-none cake__input"></v-field>
							<label for="berries3" class="mx-2 px-3 py-1 cake_grey cake__label">Малина</label>
						
							<v-field v-model="Berries" type="radio" name="berries" id="berries4" value="4" class="d-none cake__input"></v-field>
							<label for="berries4" class="mx-2 px-3 py-1 cake_grey cake__label">Голубика</label>
						
							<v-field v-model="Berries" type="radio" name="berries" id="berries5" value="5" class="d-none cake__input"></v-field>
							<label for="berries5" class="mx-2 px-3 py-1 cake_grey cake__label">Клубника</label>
						
					</div>
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Декор</span>
						
							<v-field v-model="Decor" type="radio" name="decor" id="decor1" value="1" class="d-none cake__input"></v-field>
							<label for="decor1" class="mx-2 px-3 py-1 cake_grey cake__label">Фисташки</label>
						
							<v-field v-model="Decor" type="radio" name="decor" id="decor2" value="2" class="d-none cake__input"></v-field>
							<label for="decor2" class="mx-2 px-3 py-1 cake_grey cake__label">Безе</label>
						
							<v-field v-model="Decor" type="radio" name="decor" id="decor3" value="3" class="d-none cake__input"></v-field>
							<label for="decor3" class="mx-2 px-3 py-1 cake_grey cake__label">Фундук</label>
						
							<v-field v-model="Decor" type="radio" name="decor" id="decor4" value="4" class="d-none cake__input"></v-field>
							<label for="decor4" class="mx-2 px-3 py-1 cake_grey cake__label">Пекан</label>
						
							<v-field v-model="Decor" type="radio" name="decor" id="decor5" value="5" class="d-none cake__input"></v-field>
							<label for="decor5" class="mx-2 px-3 py-1 cake_grey cake__label">Маршмеллоу</label>
						
							<v-field v-model="Decor" type="radio" name="decor" id="decor6" value="6" class="d-none cake__input"></v-field>
							<label for="decor6" class="mx-2 px-3 py-1 cake_grey cake__label">Марципан</label>
						
							<v-field v-model="Decor" type="radio" name="decor" id="decor7" value="7" class="d-none cake__input"></v-field>
							<label for="decor7" class="mx-2 px-3 py-1 cake_grey cake__label">Без декора</label>
						
					</div>
{% endverbatim %}