					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Количество уровней</span>
						{% for layer in layers %}
							<v-field v-model="Levels" type="radio" name="lvls" id="num{{layer.id}}" value="{{layer.id}}" class="d-none cake__input"></v-field>
							<label for="num{{layer.id}}" class="mx-2 px-3 py-1 cake_grey cake__label">{{layer.title}}</label>
						{% endfor %}
					</div>
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Форма</span>
						{% for shape in shapes %}
							<v-field v-model="Form" type="radio" name="form" id="form{{shape.id}}" value="{{shape.id}}" class="d-none cake__input"></v-field>
							<label for="form{{shape.id}}" class="mx-2 px-3 py-1 cake_grey cake__label">{{shape.title}}</label>
						{% endfor %}
					</div>
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Топпинг</span>
						{% for topping in toppings %}
							<v-field v-model="Topping" type="radio" name="topping" id="topping{{topping.id}}" value="{{topping.id}}" class="d-none cake__input"></v-field>
							<label for="topping{{topping.id}}" class="mx-2 px-3 py-1 cake_grey cake__label">{{topping.title}}</label>
						{% endfor %}
					</div>
					<h1 class="me-3 fs_40 cake_pink mb-3 mt-5">Дополнительно</h1>
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Ягоды</span>
						{% for berry in berries %}
							<v-field v-model="Berries" type="radio" name="berries" id="berries{{berry.id}}" value="{{berry.id}}" class="d-none cake__input"></v-field>
							<label for="berries{{berry.id}}" class="mx-2 px-3 py-1 cake_grey cake__label">{{berry.title}}</label>
						{% endfor %}
					</div>
					<div class="d-flex align-items-center flex-wrap mb-3">
						<span class="me-3 fs_40 cake_blue">Декор</span>
						{% for decor in decors %}
							<v-field v-model="Decor" type="radio" name="decor" id="decor{{decor.id}}" value="{{decor.id}}" class="d-none cake__input"></v-field>
							<label for="decor{{decor.id}}" class="mx-2 px-3 py-1 cake_grey cake__label">{{decor.title}}</label>
						{% endfor %}
					</div>